page-login {
  .logo {
    background: transparent;
    width: 60%;
    height: 100%;
    margin-bottom: 10%;
  }

  .button {
    color: #ffffff;
    background: linear-gradient(to bottom right, color($colors, primary), color($colors, secondary));
    width: 50%;
    height: 75%;
    margin-top:8%;
  }

  .input {
    background-color: #F0F0F0;
    border-radius: 10px;
    width: 90%;
  }

  .register {
    background: transparent;
    color: color($colors, primary);
    text-transform: none;
  }

  ion-grid {
    height: 50%;
  }

  ion-row {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
