page-login {
  .button {
    color: color($colors, primary);
    background-color: color($colors, light);
    width: 50%;
  }

  .input {
    -moz-border-radius: 50px;
    border-radius: 10px;
    border-color: #000000;
    width: 50%;
  }

  ion-grid {
    height: 30%;
  }

  ion-row {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
