page-map {

  #map {
    height: 100%;
  }

  #back-icon {
    font-size: 18px;
    margin-top: 2px;
    margin-right: 2px;
  }

  .circle-button {
    background: linear-gradient(
      to bottom right,
      color($colors, primary),
      color($colors, secondary)
    );
  }

  ion-fab[top] {
    top: 5px;
    left: 5px;
  }

}
