page-photo {
  #main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  #heading {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-shrink: 0;
    height: 6vh;
    margin-bottom: 1.5vh;
  }

  #profile-picture {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-right: 2vw;
  }

  #name-location-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  #name {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: color($colors, dark);
    padding-bottom: 0.3vh;
  }

  #location-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 0.3vh;
  }

  #location {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: color($colors, dark);
  }

  #mini-location-icon {
    font-size: 14px;
    padding-right: 1vw;
    color: color($colors, dark);
  }

  #image-container {
    margin-bottom: 0.5vh;
  }

  #image {
    border-radius: 4%;
    margin-bottom: 1vh;
  }

  #scroll-area {
    flex: 1;
    //background: peru;
  }

  #likes-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: -2.5vh;
    margin-bottom: 0.5vh;
    //background-color: greenyellow;
  }

  #like-icon {
    font-size: 32px;
    padding-right: 2vw;
  }

  #comment-icon {
    font-size: 32px;
    padding-right: 2vw;
    padding-bottom: 0.7vh;
  }

  #main-location-icon {
    font-size: 32px;
    margin-left: auto;
  }

  #description-container {
    //
  }
}
