page-photo-options {
  ion-content {
    /*background: linear-gradient(
      to bottom right,
      color($colors, primary),
      color($colors, secondary)
    );*/
  }

  img {
    border-radius: 5%;
    width: 100%;
    //margin-top: 5px;
    //margin-bottom: 5px;
  }

  ion-grid {
    height: 100%;
  }

  ion-row {
    justify-content: center;
    align-items: center;
    height: 100%;
    //margin-bottom: 8%;
  }

  .button {
    color: #ffffff;
    background: linear-gradient(to bottom right, color($colors, primary), color($colors, secondary));
    width: 44%;
    padding-top: 8%;
    padding-bottom: 8%;
  }

  #back-button {
    margin-right: 4%;
  }

  #upload-button {
    margin-left: 4%;
  }

  /*.button:hover {
    background-color: color($colors, pressed) !important;
  }*/
}
