<ion-header></ion-header>


<ion-content padding>

  <div class="main-container">

    <!-- Photo description input field -->
    <div class="description-container">
      <ion-item class="input" id="description">
        <ion-label color="primary">Description</ion-label>
        <ion-textarea rows="6" placeholder="Enter a description"></ion-textarea>
      </ion-item>
    </div>

    <!-- Photo location input field -->
    <div class="location-container">
      <ion-item class="input">
        <ion-label color="primary">Location</ion-label>
        <ion-input [(ngModel)]="locationSearchInput" (keyup)="updateSearchResults()" placeholder="Search for a location"></ion-input>
      </ion-item>
      <div [hidden]="hideLocationSearch()" class="location-results-container">
          <ion-list id="location-results-list" [hidden]="autocompleteItems().length == 0">
            <ion-item class="location-item" *ngFor="let item of autocompleteItems()" tappable (click)="selectSearchResult(item)">
              {{ item.description }}
            </ion-item>
          </ion-list>
        </div>
    </div>

    <!-- Photo preview -->
    <div class="image-container">
      <img id='preview-image' [src]="safeImageURL" />
      <!--<img id='preview-image' src="https://instagram.fakl1-2.fna.fbcdn.net/vp/9546e9145b22f79536a4e732de93396d/5BF72D8E/t51.2885-15/e35/36473156_2047805465293060_6121897464317345792_n.jpg"/>-->
    </div>

    <!-- Back and upload buttons -->
    <div class="button-container">
      <button class="gradient-button" id="back-button" (click)="back()" ion-button round>Back</button>
      <button class="gradient-button" id="upload-button" (click)="upload()" ion-button round>Upload</button>
    </div>
  </div>

  <!--<div id='image-container'>
      <ion-list [hidden]="autocompleteItems().length == 0">
        <ion-item *ngFor="let item of autocompleteItems()" tappable (click)="selectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
      <ion-grid *ngIf="nearbyItems().length == 0">
        <ion-row>
          <ion-col col-12>
            <h3>
              Please type a place on the Search bar to see nearby Restaurants
            </h3>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list *ngIf="nearbyItems().length > 0">
        <ion-item *ngFor="let place of nearbyItems()">
          <h2>{{place.name}}</h2>
          <p>{{place.vicinity}}</p>
          <p>Rating {{place.rating}}</p>
        </ion-item>
      </ion-list>
    </div>-->

</ion-content>
