page-photo-options {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .description-container {
    margin-top: auto;
  }

  .location-container {
    margin-top: auto;
  }

  .location-results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 2vh;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

    width: 88vw;
    border-radius: 10px;
    background-color: #f0f0f0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 1vh;
  }

  .location-item {
    background-color: #f0f0f0;
  }

  .image-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    margin-top: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: auto;
  }

  #preview-image {
    border-radius: 4%;
    width: 45vh;
  }

  .input {
    background-color: #f0f0f0;
    border-radius: 10px;
    border-color: #000000;
    width: 100%;
  }

  .gradient-button {
    background: linear-gradient(
      to bottom right,
      color($colors, primary),
      color($colors, secondary)
    );
    width: 40vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }

  /*img {
    width: 100vw;
    height: 80vw;
    overflow: hidden;
    border-radius: 5%;
    //margin-top: 4%;
    //margin-bottom: 4%;
  }

  ion-grid {
    height: 100%;
    //padding: 2%;
  }

  ion-row {
    //padding-top: 5%;
    //padding-bottom: 5%;
    justify-content: center;
    align-items: center
  }

  ion-col {
    align-self: center;
  }

  #back-button {
    float: left;
  }

  #upload-button {
    float: right;
  }*/
}
