<ion-header></ion-header>

<ion-content padding>
  <div class="container">
    <div class="title">
      <h1>Customise Profile</h1>
    </div>

    <div class="photo-button-container">
      <img class="profile-picture" src={{this.imageSource}} (load)="this.loadingScreenProvider.dismiss()"/>
      <button ion-button round outline class="change-photo-button" (click)="this.getImage()">Edit Picture</button>
    </div>

    <div class="form-div">
      <form (ngSubmit)="saveProfile()" [formGroup]="customiseForm">
        <div class="input-div">
          <ion-item no-lines class="input">
            <ion-label color="mid">Full Name</ion-label>
            <ion-input type="text" formControlName="name" class="form-control" value="{{this.user.name}}"></ion-input>
          </ion-item>

          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message" *ngIf="customiseForm.get('name').hasError(validation.type) && (customiseForm.get('name').dirty || customiseForm.get('name').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>

        <div class="input-div">
          <ion-item no-lines class="input">
            <ion-label color="mid">Username</ion-label>
            <ion-input type="text" formControlName="username" class="form-control" value="{{this.user.username}}"></ion-input>
          </ion-item>

          <ng-container *ngFor="let validation of validation_messages.username">
            <div class="error-message" *ngIf="customiseForm.get('username').hasError(validation.type) && (customiseForm.get('username').dirty || customiseForm.get('username').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>

        <div class="input-div">
          <ion-item no-lines class="input">
            <ion-label color="mid">Biography</ion-label>
            <ion-textarea type="text" formControlName="biography" class="form-control" rows=4 value="{{this.user.biography}}"></ion-textarea>
          </ion-item>

          <ng-container *ngFor="let validation of validation_messages.biography">
            <div class="error-message" *ngIf="customiseForm.get('biography').hasError(validation.type) && (customiseForm.get('biography').dirty || customiseForm.get('biography').touched)">
              {{validation.message}}
            </div>
          </ng-container>

          <div class="error-message">
            {{this.customiseError}}
          </div>
          <button class="submit-button" ion-button round type="submit" [disabled]="!customiseForm.valid">Save Profile</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
