// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs .tabbar {
  background-color: color($colors, light);
}

.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.gradient-icon {
  background: -moz-linear-gradient(
    to bottom right,
    color($colors, primary),
    color($colors, secondary)
  );
  background: -webkit-linear-gradient(
    to bottom right,
    color($colors, primary),
    color($colors, secondary)
  );
  background: linear-gradient(
    to bottom right,
    color($colors, primary),
    color($colors, secondary)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

@font-face {
  font-family: 'Circular-Book';
  src: url('../assets/fonts/circular/circular-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Medium';
  src: url('../assets/fonts/circular/circular-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('../assets/fonts/circular/circular-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Black';
  src: url('../assets/fonts/circular/circularblack.ttf') format('truetype');
}

button {
  font-size: 14px;
}

body,
span,
button,
ion-item,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Circular-Bold' !important;
}

p {
  font-family: 'Circular-Book' !important;
}

// Hacks for font awesome icons in tabbar
// see https://forum.ionicframework.com/t/anyway-to-custom-the-tabbars-icon-with-my-own-svg-file/46131/2
// the content code of each fa-icon can be found here: 'node_modules/font-awesome/css/font-awesome.css'
.fa-icons-general {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.ion-md-fa-cloud-upload::before {
  @extend .fa-icons-general;
  content: '\f0ee';
}

.ion-md-fa-search::before {
  @extend .fa-icons-general;
  content: '\f002';
}
.ion-md-fa-user::before {
  @extend .fa-icons-general;
  content: '\f007';
}
.ion-md-fa-cog::before {
  @extend .fa-icons-general;
  content: '\f013';
}
