// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs .tabbar {
  background-color: #ffffff;
}

@font-face {
  font-family: 'Circular-Book';
  src: url('../assets/fonts/circular/circular-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Medium';
  src: url('../assets/fonts/circular/circular-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('../assets/fonts/circular/circular-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Black';
  src: url('../assets/fonts/circular/circularblack.ttf') format('truetype');
}

body,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Circular-Bold' !important;
}

p {
  font-family: 'Circular-Book' !important;
}
