page-upload-photo {
  ion-content {
    background: linear-gradient(
      to bottom right,
      color($colors, primary),
      color($colors, secondary)
    );
  }

  ion-row {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  ion-icon {
    font-size: 80px;
    color: color($colors, light);
  }

  .button {
    color: color($colors, mid);
    background-color: color($colors, light);
    width: 65vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }

  .button:hover {
    background-color: color($colors, pressed) !important;
  }
}
