page-upload-photo {
  ion-content {
    background: linear-gradient(to bottom right, color($colors, primary), color($colors, secondary));
  }

  .vertical-align-content > * {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }

  ion-row {
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  ion-icon {
    font-size: 80px;
    color: color($colors, light);
  }

  ion-row {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .button {
    color: color($colors, primary);
    background-color: color($colors, light);
    width: 65%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .button:hover {
    background-color: color($colors, light) !important;
  }
}
