<ion-header>
    <ion-navbar>
      <img class="logo" src="assets/imgs/logo.png">
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="input" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" placeholder="Search for Full Name">
  </ion-searchbar>

  <ion-list>
    <div class="error-message" *ngIf="(this.resultUsers.length == 0); else elseBlock">
      No searches match "{{this.input}}"<br>
      <img class="error-image" src="/assets/imgs/error.png"/>
    </div>

    <ng-template #elseBlock>
      <ion-item class="search-result" *ngFor="let user of this.resultUsers" (click)="this.clickedUser(user)">
        <h2> {{user.name}} </h2>
      </ion-item>
    </ng-template>
  </ion-list>

</ion-content>