page-search {
  .logo {
    width: 20%;
    height: 20%;
    margin: 2vw;
  }

  .error-message {
    padding-top: 10%;
    //background: cyan;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: gray;
    margin: 3%;
  }

  .error-image {
    margin: 5%;
    width: 40%;
  }

  .search-result {
    margin-left: 3%;
    width: 95%;
  }

  .search-result:hover {
    background-color: rgb(180, 180, 180);
  }
}
