page-register {
  .logo {
    background: transparent;
    width: 60%;
    margin-bottom: 10%;
  }

  .button {
    background: linear-gradient(
      to bottom right,
      color($colors, primary),
      color($colors, secondary)
    );
    width: 50%;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-top: 8%;
  }

  .input-div {
    width: 90%;
    padding-bottom: 6%;
  }

  .input {
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 90%;
  }

  .error-message {
    color: red;
  }

  ion-grid {
    height: 60%;
  }

  ion-row {
    //justify-content: center;
    align-items: center;
    height: 100%;
  }
}
