<ion-header>
  <ion-navbar>
    <img class="logo" src="assets/imgs/logo.png">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="profile-container">
      <div class="profile-container-top">
        <div class="image-container">
          <img class="profile-picture" src={{this.imageSource}} (load)="this.loadingScreenProvider.dismiss()" />
        </div>
        <div class="followers-options-container">
          <div class="followers-container">
            <div>
              <ion-label class="value-label">
                <b>10</b>
              </ion-label>
              <ion-label class="type-label">
                <b>Posts</b>
              </ion-label>
            </div>
            <div>
              <ion-label class="value-label">
                <b>110</b>
              </ion-label>
              <ion-label class="type-label">
                <b>Following</b>
              </ion-label>
            </div>
            <div>
              <ion-label class="value-label">
                <b>2000</b>
              </ion-label>
              <ion-label class="type-label">
                <b>Followers</b>
              </ion-label>
            </div>
          </div>
          <div class="button-div">
            <div class="options-button-div" *ngIf="(this.auth.getUID() == this.user.userID)">
              <button ion-button round class="options-button" (click)="this.optionsButtonClicked()">Options</button>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-container-bottom">
        <ion-label class="name-label">
          <b>{{this.user.name}}</b>
        </ion-label>
        <ion-label class="biography-label">
          {{this.user.biography}}
        </ion-label>
      </div>
    </div>
    <div class="divider"></div>

    <div class="photos-container" *ngIf="(this.postedPhotos.length !== 0); else elseBlock">
      <!-- Responsive Layout with Ion Grid-->
      <ion-grid>
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let photo of this.postedPhotos">
            <div class="grid-image-container">
              <img src="{{photo.url}}" (click)="openPhoto(this.userID, photo.id)" />
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>